:root {
  /* Cores principais */
  --color-primary: #CA3884;
  --color-primary-hover: #A52C6B;
  --color-danger: #C93847;

  /* Neutros */
  --color-bg: #F4F5FB;
  --color-white: #FFFFFF;
  --color-black: #080B12;
  --color-border: #D1D5DB;
  --color-border-light: #E5E7EB;
  --color-gray: #9CA3AF;
  --color-surface: #F9FAFB;
}